.submitButton {
  margin-left: 4em;
  background-color: #705555;
  color: white;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 0 9px rgba(0, 0, 0, 0.2);
  transition: All 250ms ease;
  outline: none;
  font-size: 1.5em;
}

.submitButton:active {
  position: relative;
  top: 5px;
  /* background-color: #3e8e41; */
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
  transform: translateY(4px);
  transition: All 250ms ease;
}
